root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.cs]
charset = utf-8-bom

[*.razor]
charset = utf-8-bom

[*.cshtml]
charset = utf-8-bom

[*.sql]
charset = utf-8

[*.md]
charset = utf-8

[*.json]
charset = utf-8
